<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
<body>
    <!-- Enlazar un archivo CSS-->
    <script src ="assets/CSS/styles.css"></script>

    <!-- Elemento en bloque -->
    <h1> Titulo </h1>
    <p> Hola </p>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, sunt autem alias dicta beatae laudantium tempora architecto temporibus magnam, nemo mollitia quae unde maxime at adipisci quasi harum nam numquam?</p>
    
    <!-- En linea-->
    <span class="saludo" id=" "saludoInicial"> Hola </span>
    <img src="assets/img/dibujo"> 
    <a href="https://www.youtube.com/" Youtube></a>
    <a href="../index.html"> index </a>
    <!-- Listas ordenadas-->
    <ol> 
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ol>

    <!-- Listas no ordenadas-->
    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ul>

    <!-- Escribir codigo  Css en el documento-->
    <style>
        body{
            background-color: blueviolet;
        }
    </style>
    
    <div>

    </div>
    
    <!-- Escribir JS en el documento-->
    <!--<script>
            alert("Hola mundo!");
     </script> -->
    
    <!-- Enlazar un archivo JS-->
    <script src ="assets/JS/main.js"></script>

    
</body>
</html>